update_interval_minutes: 5

credentials:
  prod:
    porkbun_api_key: # Your API key
    porkbun_secret_key: # Your secret API key

records:
  - domain: # Your domain name
    host: "*"
    ipv4: true
    credentials: prod

metrics:
  enabled: false
